@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212deg, 45%, 89%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  padding: 0 1.1rem;
}

.card {
  padding: 1rem;
  border: 1px solid hsl(212deg, 45%, 89%);
  border-radius: 1.5rem;
  box-shadow: 0px 5px 15px hsl(212deg, 45%, 89%);
  max-width: 320px;
  background-color: hsl(0deg, 0%, 100%);
}
.card #img-qr-code {
  display: block;
  width: 100%;
  border-radius: 0.8rem;
}
.card .content {
  padding: 0 0.7rem;
}
.card .content #card-title {
  text-align: center;
  font-size: 1.5rem;
  color: hsl(218deg, 44%, 22%);
  padding-top: 0.8rem;
  letter-spacing: 0.04rem;
}
.card .content #card-text {
  text-align: center;
  font-size: 1.01rem;
  padding: 0 0.4rem;
  color: hsl(220deg, 15%, 55%);
  padding-bottom: 0.6rem;
}

.attribution {
  font-size: 0.8rem;
}